body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: #ecf0f1;
    padding: 70px 20px; /* Adjust padding to ensure content is not overlapped by navbar or footer */
}

.form-container {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 18px;
    margin-bottom: 10px;
    color: #2c3e50;
}

form input, form textarea {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
}

form input:focus, form textarea:focus {
    border-color: #1abc9c;
    outline: none;
}

form button {
    background-color: #1abc9c;
    color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #16a085;
}
